h1 {
    text-align: center;
}

.tab {
    height: 256px;
    width: 192px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#display {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    gap: 4px;
}

#buttons {
    display: flex;
    flex-direction: column;
}